<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
</head>
<body>

  <div class="table-wrapper">
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Item</th>
                <th>Type</th>
                <th>Plateform</th>
                <th>Username</th>
                <th>Password</th>
                <th>Remark</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for credential in credential %}
            <tr>
                <td>{{credential.cust_id}}</td>
                <td>{{credential.cust_name}}</td>
                <td>{{credential.item}}</td>
                <td>{{credential.type}}</td>
                <td>{{credential.plateform}}</td>
                <td>{{credential.username}}</td>
                <td>{{credential.password}}</td>
                <td>{{credential.remark}}</td>
                <td>{{credential.status}}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
// Setup - add a text input to each footer cell
$('#example tfoot th').each(function () {
    var title = $(this).text();
    $(this).html('<input type="text" placeholder="Search ' + title + '" />');
});

// DataTable
var table = $('#example').DataTable({
    initComplete: function ()
{
var r = $('#MyDataTable tfoot tr');
r.find('th').each(function(){
$(this).css('padding', 8);
});
$('#MyDataTable thead').append(r);
$('#search_0').css('text-align', 'center');
},
});
});
</script>
</body>
</html>

