<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <div class="form-popup" id="myForm2">
                

    <div class="card card-body bg-white border-light shadow-sm mb-4">
    <br>
    
    
        <h2 class="h5 mb-4">WORKSHEET FORM</h2>
        
        <form method="post" action="{% url 'worksheet' %}">
          {% csrf_token %}
          <label for="name">Organisation:</label>
          <select name="cust_org" id="cust_org" class="selectpicker" data-live-search="true"> 
          {% for i in df1 %}
          
          <option value="{{i}}">{{i}}</option>
      
          {% endfor %}
          </select> 
          
          <button type="submit">Search</button>
        </form>

        {% if error %}
          <p>{{ error }}</p>
        {% else %}
        
        {% if customer %}
      
      
        <form method="POST" action="{% url 'work_save' %}">
        
          
            {% csrf_token %}

              <div class="row">
                  <div class="col-md-4 mb-3">
                      <div>
                        <label for="cust_id">Id</label>
                      
                        <input name="cust_id" class="form-control" id="cust_id" type="text" value="{{customer.cust_id}}"required="">
                      
                      </div>
                  </div>

                  <div class="col-md-4 mb-3">
                      <div>
                        <label>Customer Name</label>
                        
                        <input name="cust_name" class="form-control" id="cust_name" type="text" value="{{customer.cust_name}}" required="">
                        
                      </div>
                      
                      
                  </div>

                  
                  

              </div>

              <div class="row">
                
              <div class="col-md-4 mb-3">
                <div>
                    <label for="worktype">Work Type</label>
                    <input name="worktype" class="form-control" id="worktype" type="text" placeholder="Work Type" required="">
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <div>
                    <label for="cust_org">Organisation</label>
                    <input name="cust_org" class="form-control" id="cust_org" type="text" value="{{customer.cust_org}}" required="">
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <div>
                  <label>Current Date</label>
                  
                  <input name="current_date" class="form-control" id="current_date" type="date" required="">
                  
                </div>
                
                
            </div>
              

            </div>


              <div class="row">
                
                  <div class="col-md-4 mb-3">
                      <label for="workprogress">Work Progress</label>
                      <input name="workprogress" class="form-control" id="workprogress" type="text" required="">
                  </div>

                  <div class="col-md-4 mb-3">
                    <label for="remarks">Remarks</label>
                    <input name="remarks" class="form-control" id="remarks" type="text" required="">
                </div>
                
              </div><br>

              
              <div class="mt-3">
                <button type="submit" class="btn btn-success" style="width: 40%; border-radius: 10px; margin-left: 15px;">Save</button>

                <button type="button" class="btn btn-danger" style="width: 40%; border-radius: 10px; margin-left: 15px;" onclick="closeForm2()">Close</button>
              </div>
              
              
              
            </div>
            <br>
          
          </form>

          
              {% endif %}
          
      {% endif %}


</div> 
</div>
  
</body>
</html>


