  
  .right {
    margin-left:-3px;
  }
  
  
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  
  .image{
    width: 45%; height: 20%;
    margin-top: 40px;
    margin-left: 30px;
    margin: auto;
    display: block;
    font: 1em sans-serif;
  }

  
  .card{
    width:750px;
    height: 550px;
    background-color:white;
    border-radius: 10px;
    margin-left: 125px;
    margin-top: 40px;
  }

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.sidebar-sticky {
  height: 100%; 
  width: 260px; 
  position: fixed;
  z-index: 1; 
  background-color:#232f3e;
  overflow-x: hidden; 
  padding-top: 20px;
}


* {
  margin: 0px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

}


.heading {
  display: flex;
  background-color: #232f3e;
  box-shadow: 0px 1px 2px #232f3e;

}
h1 {
  color: coral;
  font-weight: bold;
  
  background: transparent;
  padding: 7px;
  
}


.outer-wrapper {
  margin: 10px;
  margin-left: 700px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
  max-width: 45%;
  max-height: fit-content;


  
}
.table-wrapper {

  overflow-y: scroll;
  overflow-x: scroll;
  height: fit-content;
  max-height: 66.4vh;
  
  margin-top: 22px;
  
  margin: 15px;
  padding-bottom: 20px;
  
  
}



.btn-primary {
  --mdb-btn-bg: #3b71ca;
  --mdb-btn-box-shadow: 0 4px 9px -4px #3b71ca;
  --mdb-btn-hover-bg: #386bc0;
  --mdb-btn-focus-bg: #386bc0;
  --mdb-btn-active-bg: #3566b6;
}




